#__front{
    height:100%;
    isolation: isolate;
}

.__drop{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--colors-black);
    z-index: 90000;
}